{% extends "layout.html" %}

{% block title %}{{username}} - BambooFox CTF Statistics{% endblock %}

{% block main %}
<div class="container">
    <h1>{{username}}</h1>
    <table class="table table-hover">
        <tr>
            <th>Event</th>
            <th>Rating</th>
            <th>Score</th>
            <th>Active Tasks</th>
            <th>Solve Tasks</th>
        </tr>
        {% for e in events %}
        <tr>
            <td><a href="{{PATH_PREFIX}}events/{{e['event_trello_id']}}.html">{{e['contest']}}</a></td>
            <td>{{e['rating']}}</td>
            <td>{{e['score']}} ({{e['score_rate']}}%)</td>
            <td>{{e['attend']}}</td>
            <td>{{e['solves']}}</td>
        <tr>
        {% endfor %}
    </table>
</div>
{% endblock %}